
@import "include/normalize/normalize.css";
@import "mixins";


html {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: helvetica, arial, freesans, clean, sans-serif;
    *font-size: small;
    font-size: 14px;
    line-height: 1.4;

    text-shadow: none;
    background-color: #f7f3ed;
}

article {
    clear: both;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    background-color: #f9f9f9;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


@import "global";

